body {
  background-color: royalblue;
  font-family: Arial, sans-serif;
}
.business-card {
  background-color: skyblue;
  width: 300px;
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0 , 0, 0.1);
}
.profile-image {
  max-width: 100%;
  border: 2px solid royalblue;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0 , 0, 0.1);
}
h2 {
  font-size: 18px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.category {
  text-align: left;
  width: 25%;
}
.full-name, .designation, .company, .email, .phone {
  text-align: right;
  width: 75%;
}
hr {
  height: 2px;
  background-color: royalblue;
  border-color: royalblue;
}
a {
  text-decoration: none;
  color: blue;
}
a:visited {
  color: blue;
}
a:hover {
  color: red;
}
a:active {
  color: white;
}
